In [28]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
from scipy import stats
from sklearn.preprocessing import OneHotEncoder
enc=OneHotEncoder()

In [50]:
movie={
       'movienames':['kgf','pushpa','rrr','ps'],
       'language':['kannada','telugu','telugu','tamil'],
       'rating':['good','average','very good','poor']
}
print(movie)

{'movienames': ['kgf', 'pushpa', 'rrr', 'ps'], 'language': ['kannada', 'telugu', 'telugu', 'tamil'], 'rating': ['good', 'average', 'very good', 'poor']}

In [51]:
df=pd.DataFrame(data=movie)
df.shape

(4, 3)

In [52]:
one = pd.get_dummies(df, columns = ['language']) 
print(one)

  movienames     rating  language_kannada  language_tamil  language_telugu
0        kgf       good                 1               0                0
1     pushpa    average                 0               0                1
2        rrr  very good                 0               0                1
3         ps       poor                 0               1                0

In [53]:
one

  movienames     rating  language_kannada  language_tamil  language_telugu
0        kgf       good                 1               0                0
1     pushpa    average                 0               0                1
2        rrr  very good                 0               0                1
3         ps       poor                 0               1                0

In [54]:
df.dtypes

movienames    object
language      object
rating        object
dtype: object

In [55]:
df['language']=df['language'].astype('category')
df

  movienames language     rating
0        kgf  kannada       good
1     pushpa   telugu    average
2        rrr   telugu  very good
3         ps    tamil       poor

In [56]:
df['rating']=df['rating'].astype('category')
df

  movienames language     rating
0        kgf  kannada       good
1     pushpa   telugu    average
2        rrr   telugu  very good
3         ps    tamil       poor

In [57]:
df.dtypes

movienames      object
language      category
rating        category
dtype: object

In [58]:
df['new_lan']=df['language'].cat.codes
df

  movienames language     rating  new_lan
0        kgf  kannada       good        0
1     pushpa   telugu    average        2
2        rrr   telugu  very good        2
3         ps    tamil       poor        1

In [59]:
df['new_rating']=df['rating'].cat.codes
df

  movienames language     rating  new_lan  new_rating
0        kgf  kannada       good        0           1
1     pushpa   telugu    average        2           0
2        rrr   telugu  very good        2           3
3         ps    tamil       poor        1           2

In [60]:
new_df=pd.DataFrame(enc.fit_transform(df[['new_rating']]).toarray())

In [61]:
new_df

     0    1    2    3
0  0.0  1.0  0.0  0.0
1  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0
3  0.0  0.0  1.0  0.0

In [62]:
madhu=df.join(new_df)
madhu

  movienames language     rating  new_lan  new_rating    0    1    2    3
0        kgf  kannada       good        0           1  0.0  1.0  0.0  0.0
1     pushpa   telugu    average        2           0  1.0  0.0  0.0  0.0
2        rrr   telugu  very good        2           3  0.0  0.0  0.0  1.0
3         ps    tamil       poor        1           2  0.0  0.0  1.0  0.0