In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import pearsonr
from scipy.stats import ttest_ind

# PEARSON CORRELATION TEST

In [12]:
data1=np.array([1,2,3,4,5,])http://localhost:8888/notebooks/Untitled36.ipynb?kernel_name=python3#PEARSON-CORRELATION-TEST
data2=np.array([1,4,9,16,25])
stats,p=pearsonr(data1,data2)
print(pearsonr(data1,data2))
print(np.corrcoef(data1,data2))

PearsonRResult(statistic=0.981104910251593, pvalue=0.0031090131086883533)
[[1.         0.98110491]
 [0.98110491 1.        ]]

In [13]:
d1=[1,3,5,7,9,11,13]
d2=[1,4,7,10,13,16,19]
stats,p=pearsonr(d1,d2)
pearsonr(d1,d2)

PearsonRResult(statistic=1.0, pvalue=0.0)

In [16]:
d11=np.array([10,20,30,40])
d22=np.array([1,30,0,1])
pearsonr(d11,d22)

PearsonRResult(statistic=-0.26393075365417, pvalue=0.73606924634583)

In [18]:
df=pd.read_csv("C:/Users/MADHUSUDHAN/OneDrive/Desktop/Toyota (1).csv")
df

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [19]:
pearsonr['Price']and['Age']

TypeError: 'function' object is not subscriptable